body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/assets/img/herbe\ mc.jpg');
    background-repeat: repeat-y repeat-x;
    background-size: 50%;
}

.verticale-nav {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    width: 175px;
    background-color:rgb(14, 6, 6)
}

.cards{
    margin-left: 200px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.card {
    margin: 50px;
    justify-content: end;
    display: flex;
    width:fit-content;
    max-width: 1000px;
    height: 500px;
    flex-direction: row;
    border: 3px solid #292424;
    border-radius: 14px;
    background-color: rgb(105, 233, 105);
    -webkit-box-shadow: 24px 17px 14px 11px #000000; 
    box-shadow: 24px 17px 14px 11px #000000;
}

h2, p {
    font-size: 1.5em;
    color: #292424;
}

.card-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    max-width: 0;
    overflow: hidden;
    transition: 0.5s;
    display: none;
}

.card:hover > .card-left {
    display: flex;
    max-width: 400px;
}

.card:hover {
    width: 2500px;
}

.card-left h2, .card-left p, .card-left .price, .card-left button {
    margin-left: 50px; 
}

.card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

img {
    width: 500px;
    height: 500px;
}

.nom-item {
    display: flex;
    align-items: top;
    justify-content: top;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #000000;
}

.description-item {
    align-items: center;
    justify-content: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #000000;
}

.prix-item {
    font-size: 17px;
}

button {
    background-color: rgb(4, 44, 12);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
