<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma tondeuse.fr</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="verticale-nav">
        <ul>
            <li><button onclick="window.location.href='Accueil.html'">Accueil</button></li>
            <br>
            <br>
            <li><button onclick="window.location.href='main.html'">Tondeuse</button></li>
            <br>
            <br>
            <li><button onclick="window.location.href='panier.html'">Panier</button></li>
            <br>
            <li><button onclick="window.location.href='/register'">S'inscrire</button></li>
        </ul>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card-left"> 
                <h2 class="nom-item">Tondeuse</h2>
                <p class="description-item">Développe 1.500 ch pour un 0 à 100 km/h annoncé en moins de 2,5 secondes et une vitesse de pointe de 420 km/h.</p>
                <p class="prix-item">Prix : 99,99€</p>
                <button>Acheter</button>
            </div>
            <div class="item">
                <img src="assets/img/item1.png">
            </div>
        </div>
        <div class="card">
            <div class="card-left"> 
                <h2 class="nom-item">Tondeuse</h2>
                <p class="description-item">Développe 1.500 ch pour un 0 à 100 km/h annoncé en moins de 2,5 secondes et une vitesse de pointe de 420 km/h.</p>
                <p class="prix-item">Prix : 99,99€</p>
                <button>Acheter</button>
            </div>
            <div class="item">
                <img src="assets/img/item1.png">
            </div>
        </div>
        <div class="card">
            <div class="card-left"> 
                <h2 class="nom-item">Tondeuse</h2>
                <p class="description-item">Développe 1.500 ch pour un 0 à 100 km/h annoncé en moins de 2,5 secondes et une vitesse de pointe de 420 km/h.</p>
                <p class="prix-item">Prix : 99,99€</p>
                <button>Acheter</button>
            </div>
            <div class="item">
                <img src="assets/img/item1.png">
            </div>
        </div>
    </div>
</body>
</html>