<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma tondeuse.fr</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<div class="verticale-nav">
    <ul>
        <li><button onclick="window.location.href='Accueil.html'">Accueil</button></li>
        <br>
        <br>
        <li><button onclick="window.location.href='main.html'">Tondeuse</button></li>
        <br>
        <br>
        <li><button onclick="window.location.href='panier.html'">Panier</button></li>
    </ul>
</div>